@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: "Exo 2", sans-serif;
    background-color: #0d1224;
    overflow-x: hidden;
    background-image: linear-gradient(120deg, #000000  0%, #4f0088 100%);
}

.cursor {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    z-index: -1;
}

.glow {
    text-shadow: rgba(86, 201, 255, 0.37) 0px 0px 39px;
}

.logo {
    position: absolute;
    left: 70px;
}

.logo a {
    text-decoration: none;
    color: #16f2b3;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar {
    position: relative;
    top: 30px;
    width: 100%;
}

.navbar ul {
    color: white;
    margin-right: 70px;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
}

.navbar ul li {
    list-style: none;
    margin: 10px 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: #ec4899;
}

.main {
    padding-top: 50px;
}

.left {
    width: 40vw;
    color: white;
    font-size: 45px;
    font-weight: 700;
    margin: 80px 80px;
    line-height: 1.5;
    /* text-shadow: rgba(86, 201, 255, 0.37) 0px 0px 39px; */
}

.pink-4899 {
    color: #ec4899;
}

.green-2b3 {
    color: #16f2b3;
}

.left-1 {
    display: flex;
    top: -80px;
    position: relative;
    left: 70px;
    width: 130px;
}

.linkedin {
    margin-top: 8px;
    position: relative;
    left: 15px;
}

.github img,
.linkedin img {
    transition: transform 0.5s ease;
}

.github img:hover,
.linkedin img:hover {
    transform: scale(1.15);
}

.button {
    position: relative;
    top: -65px;
    display: flex;
}

.button a {
    position: relative;
    text-decoration: none;
    left: 80px;
}

.button a:last-child {
    position: absolute;
    top: 0px;
    left: 210px;
}

.button1 {
    font-weight: bold;
    color: white;
    background-color: #ec4899;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
}

.button1 span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #16f2b3;
    border-radius: 50%;
    transition: .6s ease;
}

.button1 span:nth-child(6) {
    position: relative;
}

.button1 span:nth-child(1) {
    transform: translate(-3.3em, -4em);
}

.button1 span:nth-child(2) {
    transform: translate(-6em, 1.3em);
}

.button1 span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
}

.button1 span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
}

.button1 span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
}

.button1:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
}

.button2 {
    font-weight: bold;
    color: white;
    background-color: #ec4899;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
}

.button2 span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 32px;
    background-color: #16f2b3;
    border-radius: 50%;
    transition: .6s ease;
}

.button2 span:nth-child(6) {
    position: relative;
}

.button2 span:nth-child(1) {
    transform: translate(-3.3em, -4em);
}

.button2 span:nth-child(2) {
    transform: translate(-6em, 1.4em);
}

.button2 span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
}

.button2 span:nth-child(4) {
    transform: translate(3.5em, 1.5em);
}

.button2 span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
}

.button2:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
}

.right {
    display: flex;
}
.main-box{
    width: 45vw;
    height: 60vh;
    position: absolute;
    top: 10em;
    right: 5em;
}
.line{
    height: 1px;
    background-image: linear-gradient(120deg, #000000  0%, #4f0088 100%);
}
.right .inner-box1 {
    width: 100%;
    height: 13%;
    border-radius: 5px 5px 0 0;
    background-image: linear-gradient(120deg, #4f0088  0%, #000000 100%);
}

.right .inner-box2{
    background-image: linear-gradient(120deg, #4f0088  0%, #000000 100%);
    width: 100%;
    height: 87%;
    border-radius: 0 0 5px 5px;
}