@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: "Exo 2", sans-serif;
    background-color: #0d1224;
    overflow-x: hidden;
    /* background-image: linear-gradient(120deg, #4f0088 0%, #000000 100%); */
}

.cursor {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    z-index: -1;
}

.glow {
    text-shadow: rgba(86, 201, 255, 0.37) 0px 0px 39px;
}

.logo {
    position: absolute;
    left: 70px;
}

.logo a {
    text-decoration: none;
    color: #16f2b3;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar {
    position: relative;
    top: 30px;
    width: 100%;
}

.navbar ul {
    color: white;
    margin-right: 70px;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
}

.navbar ul li {
    list-style: none;
    margin: 10px 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: #ec4899;
}

.main {
    padding-top: 50px;
}

.left {
    width: 40vw;
    color: white;
    font-size: 45px;
    font-weight: 700;
    margin: 100px 80px;
    line-height: 1.5;
    /* text-shadow: rgba(86, 201, 255, 0.37) 0px 0px 39px; */
}

.pink-4899 {
    color: #ec4899;
}

.green-2b3 {
    color: #16f2b3;
}

.left-1 {
    display: flex;
    top: -90px;
    position: relative;
    left: 70px;
    width: 130px;
}

.linkedin {
    margin-top: 8px;
    position: relative;
    left: 15px;
}

.github img,
.linkedin img {
    transition: transform 0.5s ease;
}

.github img:hover,
.linkedin img:hover {
    transform: scale(1.15);
}