@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Exo 2", sans-serif;
    background-color: #0d1224;
}

.glow {
    text-shadow: rgba(86, 201, 255, 0.37) 0px 0px 39px;
}

.logo {
    position: absolute;
    left: 70px;
    top: 4px;
}

.logo a {
    text-decoration: none;
    color: #16f2b3;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar {
    position: relative;
}

.navbar ul {
    margin-top: 20px;
    color: white;
    margin-right: 70px;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
}

.navbar ul li {
    list-style: none;
    margin: 10px 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: #ec4899;
}

.main {
    display: flex;
    color: white;
    font-size: 45px;
    font-weight: 700;
    margin: 100px 80px;
    line-height: 1.5;
    /* text-shadow: rgba(86, 201, 255, 0.37) 0px 0px 39px; */
}

.pink-4899 {
    color: #ec4899;
}

.green-2b3 {
    color: #16f2b3;
}