@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Exo 2", sans-serif;
    background-color: #0d1224;
}

.logo {
    position: absolute; 
    left: 50px; 
    top: 5px; 
    color: #16f2b3;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.navbar {
    position: relative; 
}
.navbar ul {
    margin-top: 20px;
    color: white;
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
}

.navbar ul li {
    list-style: none;
    margin: 10px 20px;
    /* color: #ec4899; this is only for the hover effect */
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}       
.navbar ul li a:hover {
    color: #ec4899;
}